{% extends 'base.html.twig' %}

{% block page_title %}
    Premium Infos
{% endblock %}

{% block page_content %}
<main>
    <div id="premium-infos" class="center">
        <h3>Devenez membre premium et accèdez aux avantages suivants :</h3>
        <p>Messages jusqu'à 200 caractères.</p>
        <p>Un superbe pseudonyme doré!</p>
        <a href="{{ path('premiumCheckout') }}"><button id="btn-buy-premium">ACHETER MAINTENANT {{ premiumPrice }}€</button></a>
    </div>
</main>

{% endblock %}